node_modules/
.expo/
web-build/

android/.gradle/
android/build/
android/app/build/
android/app/.cxx/
android/app/.externalNativeBuild/
android/.cxx/
android/.externalNativeBuild/

*.apk
*.aab
*.tsbuildinfo
*.jks
credentials.json

!google-services.json
!android/app/google-services.json
